<%- contentFor('head') %>
    <title>Error 404 - Page Not Found</title>

    <%- contentFor('body') %>

        <body>
            <h2>Page Not Found... embarrassing</h2>
            <p>This page doesn't exist. You may want to recheck your URL. It may be the case that I deleted it or
                there's some other issue going on.</p>
            <p>If you're sure the URL is right, email me at <a
                    href="mailto:markzakharyan@ucsb.edu">markzakharyan@ucsb.edu</a></p>
            <button onclick="window.location='/'">Home page</button>
        </body>