<%- contentFor('head') %>
<title>Error</title>

<%- contentFor('body') %>
<body>
    <div class="container">
        <h1>Oops! An Unknown Error Occurred</h1>
        <p><%= error %></p>
        <a href="/">Return to Home</a>
    </div>
</body>