<footer>
  <p>&copy; <%= new Date().getFullYear() %> Mark Zakharyan</p>
  <p>
      <a href="mailto:markzakharyan@ucsb.edu">Email</a> | 
      <a href="https://github.com/markzakharyan">GitHub</a>
  </p>
</footer>